/*$green:#b9d3b0;
$turqoise:#81bda4;
$brown:#b28774;
$red:#f88f79;
$pink:#f6aa93;
*/
   
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
	height: 100%;
}
body {

	width:100%;
	height: 100%;


}

/*page1 */

#background{
	width:100%;
	height: 100%;
	position:fixed;
	top:0;
	background-attachment:fixed;
	background-image: url("flowersbw.png");
	background-size: cover;
    background-repeat: no-repeat;
	z-index:-1;

}

#title{
	width: 40em;
	height: 20em;
	z-index:10;
	position: relative;
	margin:auto;
	top:-10em;
	line-height:20em;
	text-align:center;


}
#page1{
	background-color: rgba(125,94,81,0.6);
	height:100%;
	width:100%;
	position:relative:
	overflow:hidden;
	z-index:10;

}
.spacer{
	width:100%;
	height: 50%;
	position:relative;
	overflow:visible;


}

#kim{
	font-family: 'Arapey', serif;
	color: 	#f6aa93;
	font-size:20em;
	margin:auto;
	text-shadow: 10px 3px 0 rgba(185,211,176,1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;

}

/* secondpage */

#secondpage{
	width: 100%;
	height: 100%;	
	overflow: hidden;
	position:relative;
	bottom:0;

}

#about{
	width:50%;
	height:50%;
	float:left;
	background-color: #b9d3b0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;

}

#about:hover{
	cursor:pointer;
	background-color: rgba(185,211,176,0.7);


}
#blog{
	width:50%;
	height:50%;
	float:right;
	background-color: #81bda4;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;	
}

#blog:hover{
	cursor:pointer;
	background-color: rgba(129,189,164,0.7);
}
#skills{
	width:50%;
	height:50%;
	float:left;
	background-color:#f88f79;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;

}

#skills:hover{
	cursor:pointer;
	background-color: rgba(248,143,121,0.7);
}
#contact{
	width:50%;
	height:50%;
	float:right;
	background-color:#f6aa93;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#contact:hover{
	cursor:pointer;
	background-color: rgba(246,170,147,0.7);
}

.menutxt{
	font-family: 'Arapey', serif;
	color:#323232;
	font-size:2em;
	margin-top:0.5em;
}
.menuimg{

	width:5em;

}

.menuitem{
	width:10em;
	height:8em;
	margin:auto;
	margin-top:-4em;
	text-align:center;

}
.sub{
	width:100%;
	height:100%;
	overflow:auto;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

#aboutme{
	background-color:#b9d3b0;
	overflow:hidden;
	position:absolute;
	top:0;
	opacity:0;
	z-index: -2;


}

#aboutcloser{
	width:2em;
	float:left;
	margin-top:1em;
	margin-left:2em;
	opacity:0.7;
	position:absolute;
	z-index: 100;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
#aboutcloser:hover{
	opacity:1;
	cursor:pointer;
}


#hobbiespage{
	background-color:#81bda4;
	overflow:hidden;
	position:absolute;
	top:0;
	opacity:1;
	z-index:100;
	width:100%;
	height:100%;
	margin-left: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;

}

#backgroundaboutpic{
    z-index:10;
   	width:25em;
   	height:31em;
    background-size: 100%;
    margin-top:1em;
    float:left;
    margin-left:1em;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	

}

#backgroundaboutpic:hover{
	transform:rotate(-3deg);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-webkit-transform:rotate(-3deg); /* Safari and Chrome */

}
#welcometxt{
	width:27em;
	height:25em;
	margin-left:20em;
	font-family: 'Cutive Mono', serif;
	font-size: 1.5em;
	line-height: 1.5em;
	margin-top:1em;
}

#hobbiestxt{
	margin-top:-28em;
	margin-left:33em;
	height:120%;

}

#contactme{
	background-color:#f6aa93;
	overflow: hidden;
	top:0;
	opacity:0;
	z-index: -2;
	position:absolute;

}
#contactcloser{
	width:2em;
	float:right;
	margin-top:2em;
	margin-right:2em;
	opacity:0.7;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;

}
#contactcloser:hover{
	opacity:1;
	cursor:pointer;
}

#skillsme{
	background-color:#f88f79;
	overflow:hidden;
	position:absolute;
	top:0;
	opacity:0;
	z-index: -2;
}


#skillscloser{
	width:2em;
	float:left;
	margin-top:1em;
	margin-left:2em;
	opacity:0.7;
	position:absolute;
	z-index: 100;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;

}
#skillscloser:hover{
	opacity:1;
	cursor:pointer;
}



#titleabout{
	margin-left:7em;
	font-family: 'Cutive Mono', serif;
	font-size:2.5em;
	margin-top:0.5em;

}


#mailform{
	overflow:hidden;
}

.input{
	height:3em;
	width:100%;
	font-size:1em;
	background-color:rgba(255,255,255,0.8);
	
}

.input:focus{
	outline:none;
	
}
#messageinput{
	height:16em;
	width:100%;
	font-size:1em;
	background-color:rgba(255,255,255,0.8);
	
}
#messageinput:focus{
	outline:none;
}
.me{
	font-family: 'The Girl Next Door', cursive;
	font-size: 3em;
}

#emailme{
	
	margin-left:50%;
	position:relative;
	left:-4em;
}

.heading{
	font-family: 'The Girl Next Door', cursive;
	font-size:1.5em;
}
#messagemail{
	margin-top:1.2em;
}


.contacticons{
	
	opacity: 0.8;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;


}
.contacticons:hover{
	opacity:1;

}


#fbme{
	width:100%;
	height:100%;
}

#instame{
	width:100%;
	height:100%;

}

#fbmecon{
	width:6.5em;
	height:6.5em;
	
	position:relative;
	margin-top:-10em;
	margin-left:5em;
}

#instamecon{
	width:5.5em;
	height:5.5em;
	
	position:relative;
	margin-top:-6em;
	margin-left:15em;
	
}

#sendbutton{
	font-family: 'The Girl Next Door', cursive;
	font-size:1.4em;
	width:10em;
	height:3em;
	background-color:rgba(255,255,255,0.8);
	
	margin-left:0em;
	margin-top:1em;
}

#contactresize{
	width:50em;
	margin:auto;
	margin-top:5em;
	
}


#aboutpara{
	width:20em;
	height:30em;
	position:relative;
	top:-32em;
	left:25em;
	font-family: 'Cutive Mono', serif;
	font-size: 1.2em;
	color: #323232;
}

#title{
	font-family: 'Cutive Mono', serif;
	position: auto;
	margin-top:2em;
	size:3;

}


#arrowdown{
	width:100%;
	height:4em;
	position:relative;
	background-color: #81bda4;
	opacity:0.7;
	z-index: 100;
	margin-top:3em;
}

#arrowup{
	width:100%;
	height:4em;
	position:relative;
	background-color: #b9d3b0;
	opacity:0.7;
	z-index: 100;

}

#arrowupimg{
	width:3em;
	position:relative;
	opacity:0.8;
	left:50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;

}

#arrowupimg:hover{
	margin-top:-0.5em;
	opacity:1;
}
#arrowdownimg{
	width:3em;
	position:relative;
	left:50%;
	opacity:0.8;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#arrowdownimg:hover{
	opacity: 1;
	margin-top:0.5em;
}

#arrowright{
	height:120%;
	width:4em;
	position:absolute;
	right:0;
	background-color:#81bda4;
	margin-top:-6em;
	opacity:0.8;
	
}

#arrowrighttwo{
	height:120%;
	width:4em;
	position:absolute;
	right:0;
	background-color:#b9d3b0;
	margin-top:-6em;
	opacity:0.8;
	
}

#arrowright3{
	height:120%;
	width:4em;
	position:absolute;
	right:0;
	background-color:#81bda4;
	opacity:0.8;
	top:0;

	
}

#arrowleft{
	height:110%;
	width:4em;
	position:absolute;
	left:0;
	background-color:#f88f79;
	margin-top:-6em;
	opacity:0.8;
}

#arrowlefttwo{
	height:110%;
	width:4em;
	position:absolute;
	left:0;
	background-color:#81bda4;
	margin-top:-6em;
	opacity:0.8;
}

#arrowleft3{
	height:120%;
	width:4em;
	position:absolute;
	left:0;
	background-color:#b9d3b0;
	margin-top:-3em;
	opacity:0.8;
}


.arrowrightimg{
	width:3em;
	position: absolute;
	top:50%;
	margin-left:1em;
	opacity:0.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	z-index: 10;

}

.arrowrightimg:hover{
	margin-left:1.5em;
	opacity:1;
}

#arrowrighttwoimg{
	width:3em;
	margin-top:-4em;
	position: absolute;
	top:50%;
	margin-left:1em;
	opacity:0.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	z-index: 10;

}

#arrowrighttwoimg:hover{
	margin-left:1.5em;
	opacity:1;
}

#arrowright3img{
	width:3em;
	margin-top:-5em;
	position: absolute;
	top:50%;
	margin-left:1em;
	opacity:0.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	z-index: 10;


}

#arrowright3img:hover{
	margin-left:1.5em;
	opacity:1;
}

 
#arrowleftimg{
	width:3em;
	position: absolute;
	top:50%;
	margin-top:-3em;
	margin-left:1em;
	opacity:0.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	z-index: 10;

}

#arrowleftimg:hover{
	margin-left:0.5em;
	opacity:1;
}
 
#projkim{
	background-color:#f88f79;
	overflow:hidden;
	position:absolute;
	top:0;
	opacity:1;
	z-index: -2;
	
}

#projallegro{
	background-color:#81bda4;
	overflow:hidden;
	position:absolute;
	top:0;
	opacity:1;
	z-index:100;
	width:100%;
	height:100%;
	margin-left: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;

}

#projandroid{

	background-color:#b9d3b0;
	overflow:hidden;
	position:absolute;
	top:0;
	opacity:1;
	z-index:100;
	width:100%;
	height:100%;
	margin-left: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	

}
#projkimtxt{
	
	font-family: 'Lora', serif;
	font-size:2em;
	position:relative;
	margin-left:16em;
	margin-top:1em;
	
}

#projallegrotxt{
	font-family: 'Lora', serif;
	font-size:2em;
	position:relative;
	margin-left:16em;
	margin-top:1em;
}

#projandroidtxt{
	font-family: 'Lora', serif;
	font-size:2em;
	position:relative;
	margin-left:12em;
	margin-top:1em;
}
#projboxes{
	width:80em;
	height:20em;
	margin:auto;
	position:relative;
	
	margin-top:4em;
}
.boxes{
	width:24em;
	height:20em;
	opacity:0.8;
}

.boxes:hover{
	opacity:1;
}

#now{
	background-color:#b9d3b0;
	margin-left:1em;
}
#music{
	background-color: #b28774;
	margin-left:28em;
	margin-top:-20em;

}
#andriod{
	background-color: #81bda4;
	margin-left:55em;
	margin-top:-20em;
}

.skilltxt{
	font-family: 'Lora', serif;
	font-size:1.5em;
}

#nowtxt{
	text-align: left;
	margin-left:5em;
	margin-top: 2em;

}

#musictxt{
	text-align: center;
	margin-top:-1em;
}

#andriodtxt{
	text-align: right;
	margin-top:-1em;
	margin-right:5em;
}



.dpbox{
	width:35em;
	height:30em;
	
	margin:auto;
	position:relative;
	top:50%;
	margin-top:-15em;
}

.projcircles{
	display:block;
	width:100px;
	height:100px;
	border-radius:66px;
	border:4px double black;
	font-size:20px;
	color:#666;
	line-height:100px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 #fff;
	background:#ddd;
}

.projcircles:hover{
	border:4px double #bbb;
	color:#aaa;
	text-decoration: none;
	background:#e6e6e6;
}

#projallegroboxes{
	margin-top:-19em;

}
#projandroidboxes{
	margin-top:-19em;
}
#kimnextcircle{
	float:right;
	position:relative;
	left:-8em;
}

#kimbackcircle{
	position:relative;
	left:8em;
}

#allegronextcircle{
	float:right;
	position:relative;
	left:-8em;
}

#allegrobackcircle{
	position:relative;
	left:8em;
}

#androidnextcircle{
	float:right;
	position:relative;
	left:-8em;
}

#androidbackcircle{
	position:relative;
	left:8em;
}

#hobbiesline1{
	font-family: 'Cutive Mono', serif;
	font-size:3em;
	margin-left:0em;
	margin-bottom: 1em;
	margin-top:1em;
}

#hobbiesline2{
	font-family: 'Cutive Mono', serif;
	width:15em;
	height:15em;
	font-size: 1.5em;
	line-height: 1.3em;
}

#backgroundabout{
	width:75%;
	height:80%;
	margin-left:12.5%;
	margin-top:10%;
	position:absolute;
	overflow:auto;
	
}


#hobbiespics{
	
	width:50em;
	height:30em;
	float: right;
	margin-top:-30em;

}

.hobbiespic{
	width:50em;
	margin-top: -0.6em;

}

#hobby{
	width:75em;
	margin:auto;
	height:80%;
	margin-top: 5%;
	overflow: auto;
}

#allegrop1{
	width:35em;
	height:30em;

}


