@media screen and (min-height: 1200px){
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
	width:100%;
	overflow-x:hidden;
}
body {
	
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

body:hover{
	cursor:default;

}

#background{
	width:100%;
	height: 100%;
	position:fixed;
	top:0;
	/*background-image: url("img/grey_wash_wall.png");*/
	background-attachment:fixed;
	background-image: url("img/minime.jpg");
	background-size: 1080px 1920px;
    background-repeat: no-repeat;

}

.page1{
	width: 100%;
	height: 200%;
	position:relative;
}

.title{
	width: 1.5em;
	height: 1.5em;
	background-color:#78c0a8;
	color:#5e412f;
	font-family: 'Limelight', cursive;
	font-size:30em;
	text-align: center;
	margin:auto;
	margin-top: 0.25em;
	line-height: 1.5em;
	position: relative;
}


#menu{
	background-color: rgba(150,150,150,1);
	width: 45em;
	height: 15em;
	overflow: hidden;
	position:relative;
	margin:auto;
}
.menuimg{
	width: 7em;
	margin-top: 4em;
	margin-left:4em;
	
}

.imgholder{
	width:15em;
	height: 15em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;	
}

.menuitem{
	width:15em;
	height: 15em;
	overflow: hidden;
	position:relative;
}

.menutxt{
	width:100%;
	height: 2em;
	margin-top: -2em;
	text-align:center;
	line-height: 2em;
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
	color: rgba(46,46,46,1);
}


#menuabout{
	background-color:#553A2A;
}

#menuskills{
	background-color:#5e412f;
	top: -15em;
	left: 15em;
}

#menuwork{
	background-color:#6E5444;
	top: -30em;
	left: 30em;
}
#aboutbutton{
	color:#fcebb6;

}

#workbutton{
	color:#78c0a8;
}

#skillsbutton{
	color:#f07818;
}
#blogbutton{
	color:#FF5C33;
}


.socialpanel{
	height: 50%;
	margin-top:10%;
	position: fixed;
	size:fixed;
	display:none;
	
}

#socialpanel{
	width:40px;
	background-color: rgba(46,46,46,1);
	right:0;
	z-index:1000;
	display:none;
	
}

#socialdispanel{
	width: 340px;
	right: 45px;
	z-index:0;
	display:none;
	
}


.socialbutton{
	width:24px;
	margin-left: 8px;
	margin-top: 8px;
	display:none;
	
}

.socialbuttondis{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: rgba(46,46,46,1);
	display:none;
	
}

.button{
	height: 40px;
}

.buttondis{
	opacity:0;
	height:40px;
	text-align: center;
	line-height:40px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#facebook{

	background-color: rgba(0,197,205,1);
}

#facebookdis{

	background-color: rgba(0,197,205,1);
}

#twitter{
	background-color: rgba(238,106,80,1);
}

#twitterdis{
	background-color: rgba(238,106,80,1);
}

#gmail{
	background-color: rgba(137,104,205,1);
}

#gmaildis{
	background-color: rgba(137,104,205,1);
}

.page2{
	width:100%;
	height:100%;
	position: relative;
}

#aboutme{
	width: 40em;
	height: 20em;
	margin:auto;
	margin-top: -4em;
	background-color: rgba(242,91,91,1);
	overflow:hidden;
	vertical-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	opacity:0;
}

#closer{
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	font-family: 'Limelight', cursive;
	font-size: 35px;
	border-bottom: 1px solid rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}


#aboutmetxt{
	width: 20em;
	height: 15em;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: rgba(46,46,46,1);
	margin-top: 6em;
	margin-left: 12em;
	line-height: 200%;
	
}

#facebookpanel{
	visibility:collapse;
	width: 0%;
	background-color: rgba(0,197,205,1);
	z-index:1000;
	right: 45px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#fbcloser{
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	font-family: 'Limelight', cursive;
	font-size: 35px;
	border-bottom: 1px solid rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}


#twitterpanel{
	visibility:collapse;
	width: 0%;
	background-color: rgba(238,106,80,1);
	z-index:1000;
	right: 45px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#tcloser{
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	font-family: 'Limelight', cursive;
	font-size: 35px;
	border-bottom: 1px solid rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#mailpanel{
	visibility:collapse;
	width: 0%;
	background-color: rgba(137,104,205,1);
	z-index:1000;
	right: 45px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#mcloser{
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	font-family: 'Limelight', cursive;
	font-size: 35px;
	border-bottom: 1px solid rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}


#mailform{
	margin: 10px;
	margin-top: 45px;
	overflow:hidden;
}




#send{
	width: 150px;
	bottom: 20px;
	right:20px;
	position:absolute;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#sendbutton {
	width:100%;
	height: 100%;
	font-family: 'Limelight', cursive;
	font-size: 35px;
	border-bottom: 1px solid rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	border:none;
	background-color:rgba(0,0,0,0);
}

.heading{
	margin-left:20px;
	margin-top:20px;
	margin-bottom:10px;
	font-family: 'Limelight', cursive;
	font-size: 25px;
}

.input{
	border:none;
	background-color: rgba(0,0,0,0);
	border-bottom: 1px solid rgba(46,46,46,1);
	width: 80%;
	margin-left:20px;
	margin-bottom:10px;
	height: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
}

.input:focus{
	background-color: rgba(255,255,255,0.3);
	outline:none;
}


#messageinput{
	position:absolute;
	border:none;
	background-color: rgba(255,255,255,0.3);
	width: 75%;
	margin-left:20px;
	top:245px;
	bottom: 70px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	resize:none;
}

#messageinput:focus{
	outline:none;
}

#arrowdown{
	width: 100%;
	height: 4em;
	position: absolute;
	bottom: 0;
	background-color:#FF621E;
}

#arrowdownimg{
	width: 3em;
	margin-top: 0.5em;	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#page2{
	width:100%;
	background-color: #FCEDBD;
	height:auto;
	position:relative;
	margin:auto;
}
#skills{
	width: 45em;
	margin:auto;
	height: 64.3em;
	overflow:hidden;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;

}
.heading2{
	width: 15em;
	height: 15em;
}

#web{
	background-color:#F2862F
}


#mobile{
	background-color:#78c0a8;
}

#other{
	background-color:#f0a830;
}
.headingimg{
	width: 7em;
	height: 7em;
	margin-top: 4em;
	margin-left: 4em;
}

.skillstable{

}

#icontable{
	position:relative;
	margin:auto;

}

.skillsdis{
	margin:auto;
	margin-top: 1.5em;
	height: 2em;
	width: 45em;
	opacity:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.skillstxt{
	width:100%;
	height:100%;
	text-align: center;
	line-height: 2em;
	font-family: 'Roboto Condensed', sans-serif;
	color: rgba(66,66,66,1);
}
#webdis{
	background-color:#F4A05D;
}


#mobiledis{
	background-color:#A0D3C2;
	margin-top:-2em;
}


#otherdis{
	background-color:#F3B959;
	margin-top:-2em;
}

.section{

}
.sectiontitle{
	width: 15em;
	height: 15em;
	text-align: center;	
	overflow:hidden;
	line-height: 15em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	opacity:0;
}

#htmltitle{
	background-color:#F39346;
}

#uxtitle{
	background-color:#F4A05D;
}

#gwttitle{
	background-color:#F2862F;
}


#androidtitle{
	background-color:#86C6B1;
}

#wp8title{
	background-color:#93CDB9;
}

#html5title{
	background-color:#6CAD97;
}

#systemstitle{
	background-color:#F2B145;
}
#svntitle{
	background-color:#F3B959;
}
#hobbiestitle{
	background-color:#f0a830;
}


.sectiontxt{
	font-size: 4em;
	font-family: 'Limelight', cursive;
	color: #444444;	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.sectionimg{
	width: 7em;
	margin: auto;
	margin-top: 4em;
}

.sectiondis{
	float: right;
	position: relative;
	top: -15em;
	width: 30em;
	height: 15em;
	opacity:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.subdis{
	width: 100%;
	height: 3.75em;
	background-color:#5e412f;
	color: #fcebb6;		
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	line-height:3.75em;
}

#mobileskills{
	position: relative;
	top: -45em;	
}

#otherskills{
	position: relative;
	top: -90em;	
}

#uxtitle, #uxdis,#wp8title, #wpdis, #svntitle, #svndis{
	transition-delay: 0.2s;

}

#gwttitle, #gwtdis,#html5title, #html5dis, #hobbiestitle, #hobbiesdis{
	transition-delay: 0.4s;
}

#systemstxt, #html5txt{
	font-size: 5.5em;
}

#html1,#ux1,#gwt1,#android1, #wp1, #html51, #systems1, #svn1, #hobbies1{
	background-color:#7E6759;
}


#html2,#ux2,#gwt2,#android2, #wp2, #html52, #systems2, #svn2, #hobbies2{
	background-color:#8E7A6D;
}

#htmlabout,#uxabout,#gwtabout{
	background-color:#6E5444;
	color:#F4A05D;
	
}

#androidabout,#wpabout,#html5about{
	background-color:#6E5444;
	color:#A0D3C2;
	
}
#systemsabout,#svnabout,#hobbiesabout{
	background-color:#6E5444;
	color:#F3B959;
	
}

.skillsendline{
	position:relative;
	width:100%;
	height: 0.3em;
	background-color:rgba(0,197,205,1);
}

#sep2{
	overflow:hidden;

}
.first{
	height:100%;
	width: 25%;
	background-color:rgba(137,104,205,1);
}

.second{
	height:100%;
	width: 25%;
	background-color:rgba(238,106,80,1);
	position: relative;
	top:-0.3em;
	left:25%;
}

.third {
	height:100%;
	width: 25%;
	background-color:rgba(200,200,200,1);
	position: relative;
	top:-0.6em;
	left:50%;
}


#sep1{
	top:-90em;
}

/*Experience*/

#experience{	
	width: 45em;
	height: 50em;
	margin:auto;
	overflow-Y:hidden;
	overflow-X: scroll;
	margin-bottom: 3em;
	background-color: rgba(50,50,50,1);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

.projects{
	height: 50em;
	width: 21em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#experiencetable{
	height:50em;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

#hydratenow{
	top:0;
	background-color: #78c0a8;
}

#communityplace{
	background-color:#93CDB9;
}

#foodfinder{
	background-color:#6CAD97;

}

#alarmclock{
	background-color:#86C6B1;
}

#resume{
	background-color:#A0D3C2;
}

.projecttxt{
	font-family: 'Limelight', cursive;
	font-size: 4em;
	width:4.5em;
	height:auto;
	word-break:break-all;
	margin:auto;
	position:relative;
	top:2em;
	color: rgba(50,50,50,1);
	z-index:3;
}

#experiencetitle{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 1em;
	background-color:#5e412f;
	color:#78c0a8;
	height:3em;
	width:45em;
	line-height:3em;
	margin:auto;
	margin-top:2em;
}

.projectsubtxt{
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	color: rgba(60,60,60,1);
	width: 15em;
	word-break:break-all;
	overflow:hidden;
	margin:auto;
	margin-top: 30em;
	z-index:3;
}

#alarmclocksubtxt{
	margin-top: 22.0em;
}

.projectdis{
	width: 45em;
	height: 50em;
	overflow:hidden;
	background-color:#F4C26E;
	text-align: center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	z-index:10;
}

.projectdistitle{
	font-family: 'Limelight', cursive;
	font-size: 3em;
	color: #323232;
	position: relative;
	margin-top: 1em;
}

.projectimg{
	width: 40em;
	position: relative;
	margin: 2.5em;
	
}

.projectdistxt{
	text-align:left;
	width: 30em;
	height: 10em;
	overflow-X:auto;
	overflow-Y:hidden;
	margin-left: 7.5em;
	color: #323232;
	font-family: 'Roboto Condensed', sans-serif;
	line-height:1.2em;
}

.projectcloser{
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	font-family: 'Limelight', cursive;
	font-size: 35px;
	color: #323232;
	border-bottom: 1px solid rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.projectdisbutton{
	font-family: 'Limelight', cursive;
	font-size: 2em;
	color:#323232;
	border:1px solid transparent;
	margin-top:0.65em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#hydratenowdis{
	
}

#page3{
	height: 100%;
	width: 100%;
	position:relative;
	background-color:rgba(85,58,42,0.7);
}

#topspacer{
	width:100%;
	height:50%;
}

#bigtable{
	width:45em;
	height:15em;
	margin:auto;
	position:relative;
	top:-7.5em;
}

.imgspacer{
	width:100%;
	height:100%;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

.socialbig{
	width: 15em;
	height: 15em;
	position:relative;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
}

.socialbigpic{
	width: 7em;
	margin-top:4em;
	margin-left:4em;
}
#facebookbig{
	background-color: #fcebb6;
}
#linkedinbig{
	background-color: #f07818;
	left: 15em;
	top:-15em;
}

#mailbig{
	background-color: #78c0a8;
	left:30em;
	top:-30em;
}



}